:root {
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	--blue: #003180;
	--translucentBlue: #003180cc;
	--white: white;
	--translucentWhite: #ffffff80;
	--black: black;
	--gold: #daa520;
	--navy: #000080;
	--grey: #c7c7c7;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

header {
	opacity: 1;
	transition: all 0.3s linear;
}

header.open {
	opacity: 0.1;
}

.heading {
	text-align: center;
}

h1 {
	margin: 1rem;
}

/* hamburger menu */
.menu-btn {
	z-index: 3;
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.menu-btn__burger {
	width: 30px;
	height: 5px;
	background-color: var(--blue);
	border-radius: 5px;
	box-shadow: 0 2px 5px var(--grey);
	transition: all 0.3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 5px;
	background-color: var(--blue);
	border-radius: 5px;
	box-shadow: 0 2px 5px var(--grey);
	transition: all 0.3s ease-in-out;
}

.menu-btn__burger::before {
	transform: translateY(-10px);
}

.menu-btn__burger::after {
	transform: translateY(10px);
}

.menu-btn.open .menu-btn__burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

/* mobile nav */
.mobile-nav {
	position: absolute;
	visibility: hidden;
	transition: visibility 0.3s linear;
	padding-top: 2rem;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #003180cc, 70%, #ffffff80);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	opacity: 0;
	transition: all 0.3s linear;
}

.mobile-nav.open {
	position: absolute;
	visibility: visible;
	padding-top: 2rem;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #003180cc, 70%, #ffffff80);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	opacity: 1;
}

.nav-item {
	padding: 1rem;
	margin: 0.5rem;
	text-decoration: none;
	color: var(--gold);
	font-size: 1.6rem;
	text-shadow: var(--black) 1px 1px;
}

main.open {
	opacity: 0.1;
}

.desktop-nav {
	display: none;
}

/* main content */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 1;
	transition: opacity 0.3s linear;
}

section {
	padding: 1rem;
	text-align: center;
}

.select-plan {
	cursor: pointer;
	padding: 0.5rem 1rem;
	background-color: var(--gold);
	color: var(--white);
	border: none;
	font-weight: 700;
	font-size: 1.2rem;
	margin: 1rem;
}

#wcidfy {
	background-color: var(--blue);
	color: var(--white);
	width: 100%;
}

#socials {
	width: 100%;
}

#results {
	background-color: var(--blue);
	color: var(--white);
	width: 100%;
}

/*#rules {
	background-color: var(--black);
	color: var(--gold);
	width: 100%;
}*/

.main-paras {
	text-align: left;
	font-size: 1.4rem;
	padding: 0 1.5rem;
}

.socials-text,
.contact-text {
	text-align: center;
}

.social-icon {
	margin: 1rem;
	width: 3rem;
	transition: all 0.1s linear;
}

.social-icon:hover {
	margin-top: -1rem;
	width: 4rem;
}

.sign-up-today {
	margin-bottom: 0.5rem;
}

/* sign up modal */
.sign-up-modal {
	visibility: hidden;
	transition: visibility 0.3s linear;
	opacity: 0;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--translucentBlue);
	color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s linear;
	font-size: 1.2rem;
}

.sign-up-modal.open {
	visibility: visible;
	opacity: 1;
}

.sign-up-header {
	text-align: center;
	width: 100vw;
	padding: 1rem;
	margin: 1rem;
}

.sign-up-heading {
	margin: 0;
}

form {
	margin-top: -3rem;
	padding: 1.5rem;
	font-size: 1.4rem;
	max-width: 450px;
}

.form-header {
	font-size: 1.5rem;
}

.exit {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}

.checkbox-div {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	width: 9rem;
}

.details-divs,
.checkbox-div {
	margin: 0.5rem 0;
}

.checkbox {
	transform: scale(1.5);
}

.details {
	margin-top: 1rem;
}

.details-divs {
	display: flex;
	flex-direction: column;
}

.detail-input {
	font-size: 1.1rem;
}

.form-footer {
	text-align: center;
	margin: 1.4rem 0 0 0;
}

/* desktop design */
@media screen and (min-width: 750px) {
	.menu-btn {
		display: none;
	}

	.desktop-nav {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		background-color: var(--white);
		border: 2px solid var(--blue);
		border-left: none;
		border-right: none;
	}

	.nav-item {
		margin: 0;
		color: var(--blue);
	}

	.nav-item:hover,
	.nav-item:active {
		background-color: var(--blue);
		color: var(--white);
	}

	.sign-up-modal {
		width: 750px;
	}
}
